<wj-auto-complete
            [autoExpandSelection]="true"
            [delay]="0"
            [minLength]="0"
            [placeholder]="'select'"
            [displayMemberPath]="displayMemberPath"
            [selectedValuePath]="selectedValuePath"
            [itemsSource]="itemsSource"
            [isEditable]="true"
            [isRequired]="false"
            [isReadOnly]="false"
            [(selectedValue)]="selectedValue"
            [(selectedItem)]="selectedItem">
</wj-auto-complete>