<h1 id="hId">Wijmo print document</h1>
<button id="someID" (click)="doPrint()">Print</button>

<app-autocomplete [selectedValuePath]="'value'"
                  [displayMemberPath]="'name'"
                  [itemsSource]="autocompleteSource"
                  [selectedValue]="2">
</app-autocomplete>

<div class="row">
  <div class="col-xs-17 col-xs-offset-7">
    <div class="wrap">
      <div class="lv2">
        <div class="lv3">
          <wj-flex-grid id="wjGrid" #grid [itemsSource]="data" (initialized)="init(grid)">
            <wj-flex-grid-column [binding]="'id'" [header]="'ID-1'"></wj-flex-grid-column>
            <wj-flex-grid-column [binding]="'id'" [header]="'ID-2'"></wj-flex-grid-column>
            <wj-flex-grid-column [binding]="'country'" [allowDragging]="false" [header] ="'Country'"></wj-flex-grid-column>
            <wj-flex-grid-column [binding]="'date'" [header]="'Date'"></wj-flex-grid-column>
            <wj-flex-grid-column [binding]="'select'">
              <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                 <app-autocomplete [selectedValue]="cell.item.select"
                    [dataSource$]="cell.item.selectData$">
                 </app-autocomplete>
              </ng-template>
            </wj-flex-grid-column>
            <wj-flex-grid-column [binding]="'sales'" [header]="'Sales'"></wj-flex-grid-column>
          </wj-flex-grid>
        </div>
      </div>
    </div>
  </div>
</div>
